<!DOCTYPE html>
<html>
    <head><title>推荐结果比对</title></head>
    <body>
        <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <h3>user imei: {{ user }}</h3>

        <div class="row">
            <div class="col-md-3">
                <h3>用户点击记录</h3>
                <ol>
                    {% for click in clicks %}
                        <li><a href="{{ click[1] }}" target="_blank">{{ click[0] }}</a></li>
                    {% end %}
                </ol>
            </div>

            <div class="col-md-3">
                <h3>基于内容推荐</h3>
                <ol>
                    {% for rec in content_recs %}
                        <li><a href="{{ rec[1] }}" target="_blank">{{ rec[0] }}</a></li>
                    {% end %}
                </ol>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <h3>Item-Based CF</h3>
                    <ol>
                        {% for rec in item_cf_recs %}
                            <li><a href="{{ rec[1] }}" target="_blank">{{ rec[0] }}</a></li>
                        {% end %}
                    </ol>
                </div>
                <div class="row">
                    <h3>User-Based CF</h3>
                    <ol>
                        {% for rec in user_cf_recs %}
                            <li><a href="{{ rec[1] }}" target="_blank">{{ rec[0] }}</a></li>
                        {% end %}
                    </ol>
                </div>

            </div>

            <div class="col-md-3">
                <h3>ALS CF</h3>
                <ol>
                    {% for rec in als_cf_recs %}
                        <li><a href="{{ rec[1] }}" target="_blank">{{ rec[0] }}</a></li>
                    {% end %}
                </ol>
            </div>
        </div>

    </body>
</html>
